:root{
   --default-black: #000;
   --black: #3a3a3a;
   --white: #fff;
   --blue: #475AFF;
   --light-blue: #B1E3FF;
   --sky-blue: #58AFFF;
   --sea-blue: #84C4FF;
   --invisible-blue: #E0F0FF;
   --super-light-blue: #d1f4ff;
   --aqua: #BBD6FF;
   --red: #ff5454;
   --green: #39c539;
   --gradient-light-blue: #6bb8ff;
   --gradient-purple: #d18cffde;
   --gradient: linear-gradient(45deg, #6bb8ff, #d18cffde);
}