.panel{
   position: sticky;
   top: 0;
   padding: 12px 0;
   margin-bottom: 10px;
   border-bottom: 2px solid var(--sky-blue);
   background-color: var(--background);
   z-index: 100;
}

.content{
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 25px;
}

.buttons{
   display: flex;
   gap: 22px;
}

@media screen and (max-width: 1175px) {
   .panelCategories{
      display: none;
   }
}