.testCardBorder {
   padding: 3px 3px 15px 3px;
   border-radius: 25px;
   background-image: var(--gradient);
   overflow: hidden;
}

.testCard {
   display: flex;
   flex-direction: column;
   gap: 15px;
   height: 100%;
   border-radius: 22.5px;
   padding: 20px 20px 15px 20px;
   background-color: rgb(235, 235, 235);
   overflow: hidden;
}

:global(.app.dark) .testCard{
   background-color: #232323;
}

.imgWrap {
   aspect-ratio: 2 / 1.5;
   border-radius: 10px;
   overflow: hidden;
}

.testImg {
   border-radius: 10px;
   width: 100%;
   height: 100%;
   object-fit: cover;
   pointer-events: none;
   transition: all 0.15s linear;
   filter: brightness(0.8);
   user-select: none;
   overflow: hidden;
}

.testCard:hover .testImg{
   transform: scale(1.085)
}

.name {
   margin-bottom: 10px;
   font-weight: 600;
   font-size: 18px;
}

.testCard:hover .name{
   text-decoration: underline;
}

.desc {
   font-size: 14px;
   text-overflow: ellipsis;
   overflow: hidden;
}

.startBtn{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: auto;
   border-radius: 15px;
   font-size: 19px;
   padding: 10px;
   background-image: var(--gradient);
   color: #fff;
   font-weight: 500;
   transition: all 0.2s linear;
}

.startBtn:hover{
   box-shadow: inset 100px 100px var(--gradient-light-blue);
}

@media screen and (max-width: 1055px) {
   .name{
     font-size: 16px;
   }
}
