.modal{
   position: fixed;
   top: 0;
   left: 0;
   display: none;
   align-items: center;
   justify-content: center;
   width: 100vw;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.3);
}

.active{
   display: flex;
}

.content{
   max-width: 600px;
   padding: 25px;
   margin: 0 25px;
   border-radius: 40px;
   background-color: var(--background);
}