.app{
   display: grid;
   grid-template-rows: auto 1fr;
   grid-template-columns: 100%;
   min-height: 100vh;
   color: var(--text);
   background-color: var(--background);
   background: url(../../assets/img/background.png) repeat;
   transition: 0.15s all linear;
}

:global(.dark).app{
   background: var(--background);
}