.categoryText{
   display: block;
   padding: 10px 15px;
   border-radius: 20px;
   border: 2px solid var(--sky-blue);
   font-size: 17px;
   font-weight: 500;
   transition: 0.2s all linear;
   cursor: pointer;
   user-select: none;
}

.categoryText:hover{
   box-shadow: inset 0 0 0 1px var(--sky-blue);
}

.categoryRadio{
   display: none;
}

.categoryRadio:checked + .categoryText{
   background-color: var(--sky-blue);
   color: var(--white);
}

@media screen and (max-width: 1175px) {
   .category{
      display: none;
   }
}