.intro{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 28px;
   width: 100%;
   min-height: calc(100vh - 74px - 50px);
   margin: 25px 0;
   padding: 25px;
   background-image: var(--gradient);
   border-radius: 25px;
   color: var(--white)
}

.title{
   line-height: 1.3;
   font-size: 30px;
   font-weight: 700;
   text-align: center;
}

.line{
   width: 200px;
   height: 4px;
   border-radius: 2px;
   background-color: var(--white);
}

.info{
   max-width: 1000px;
   width: 85%;
   text-align: center;
   font-weight: 500;
}

.link{
   padding: 15px 20px;
   background-color: var(--white);
   color: var(--default-black);
   font-weight: 500;
   border-radius: 5px;
}

.link:hover{
   text-decoration: underline;
}