.intro{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
   min-height: calc(100vh - 74px);
}

.title{
   line-height: 1.3;
   font-size: 33px;
   font-weight: 700;
   text-align: center;
}