.controls{
   display: flex;
   height: 328px;
}

.answersList{
   display: flex;
   flex-direction: column;
   width: 59%;
}

.submitBtn{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 41%;
   background-color: var(--super-light-blue);
}

.submitBtn:hover{
  background-color: var(--light-blue);
}

.submitBtn:hover svg{
   fill: #FFF;
}