.testsContent{
   padding-top: 25px;
   padding-bottom: 25px;
}

.tests{
   display: grid;
   grid-template-rows: auto;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   gap: 30px;
}