.testCards{
   display: grid;
   grid-template-rows: auto;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   gap: 30px;
}

.testsContent{
   padding-top: 10px;
   padding-bottom: 25px;
}

@media screen and (max-width: 1055px) {
   .testCards{
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 30px;
   }
}