.testsSearch{
   width: 100%;
   max-width: 450px;
   padding: 10px 15px;
   border: 2px solid var(--sky-blue);
   border-radius: 25px;
   color: var(--text);
   font-size: 17px;
}

.testsSearch::placeholder{
   color: #c0c0c0;
}

@media screen and (max-width: 450px) {
   .testsSearch{
      padding: 7px 9px;
      font-size: 15px;
   }
}