.header{
   padding: 12px 0;
   border-bottom: 5px solid;
   border-image: var(--gradient) 1;
   background-color: #dfeaff;
   transition: background 0.15s linear;
}

:global(.dark) .header{
   background-color: #282828;
}

.content{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 30px;
}

.logo{
   display: block;
   padding: 10px 15px;
   border-radius: 15px;
   background-image: var(--gradient);
   color: var(--white);
   font-weight: 700;
}

.logo:hover{
   background-image: linear-gradient(45deg, var(--gradient-purple), var(--gradient-light-blue))
}

.links{
   display: flex;
   gap: 25px;
   margin-left: auto;
}

.link {
   padding: 2px;
   border-radius: 12px;
   background-image: var(--gradient); 
}

.link span{
   display: block;
   border-radius: 10.5px;
   padding: 8px;
   background-color: var(--background);
   color: var(--sky-blue);
   font-weight: 500;
   font-size: 19px;
   transition: 0.2s all linear;
}

:global(.dark) .link span{
   color: var(--white);
}

.link:hover span{
   background-color: rgba(0,0,0,0);
   color: var(--white);
}