.testPage > div {
   height: 100%;
}

.content{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100%;
}

.testName{
   width: fit-content;
   font-size: 19px;
   font-weight: 700;
   padding: 8px 12px;
   background-color: var(--background);
   border: 2px solid var(--sky-blue);
   border-top: none;
   border-radius: 0 0 18px 18px;
   color: var(--sky-blue);
}

:global(.dark) .testName{
   color: var(--text);
}